@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


.text-poppins {
    font-family: 'Poppins', sans-serif;
}

.header-icon {
    left: 40vw;
}

@media (min-width: 1024px) {
    .header-icon {
        left: -1vw
    }
}

@media (min-width: 1100px) {
    .header-icon {
        left: 1vw
    }
}

@media (min-width: 1280px) {
    .header-icon {
        left: 5vw/* 64px */;
    }
}

@media (min-width: 1536px) {
    .header-icon {
        left: 8rem/* 128px */;
    }
}






